.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 16px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;




}

@media screen and (max-width:1279px) {
    .photo-grid {
        gap: 1.3671875vw;
        width: 90.625%;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

}

@media screen and (max-width:1023px) {
    .photo-grid {
        width: 93.75%;
        grid-template-columns: repeat(2, minmax(352px, 1fr));
    }
}

@media screen and (max-width:767px) {
    .photo-grid {
        gap: 12px;
        width: 90%;
        grid-template-columns: repeat(1, minmax(288px, 1fr));


    }
}