.footer__copyright-text{
    color:white;
    font-size:14px;
    line-height:16px;
    margin:0 0;
    padding:0 0;
    font-weight:400;
    margin-bottom:24px;
    }

    @media  screen and (max-width:767px) {
        .footer__copyright-text{
            margin-top:48px;
        }
        
    }