.intro__list {
  margin-top: 33px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
  text-align: left;
  max-width: 690px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  padding-bottom:92px;

}
@media screen and (max-width:1023px){
  .intro__list{
    padding-bottom:88px;
  }
}

@media screen and (max-width:767px) {
  .intro__list {
    padding-bottom:64px;
   }
}