.intro__list {
  margin-top: 33px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
  text-align: left;
  max-width: 690px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.5;

}

@media screen and (max-width:330px) {
  .intro__list {
    letter-spacing: -0.5px;
  }
}