.header__logo{
    max-width:176px;
    line-height:1;
    padding-left:3rem;
    margin-top:1.75rem;
    }

    @media  screen and (max-width:768px) {
        .header__logo{
            max-width:142px;
            margin-top:1rem;
            padding-left:1rem;
            line-height:1;
            }
        
    }