.header {
    max-width:1280px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 0px;
    
}
