.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 29.34px;
    color: white;
    margin-bottom: 1.625rem;
    margin-bottom:26px
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 0;

}

.place__paragraph:last-child {
    margin-bottom: 0px;
}



@media screen and (max-width:1023px) {
    .place__paragraph{
        margin-bottom:25px;
        font-size:16px;
        line-height:26.08px;
    }
 
    
}

@media screen and (max-width:767px) {
    .place__paragraph {
      
        padding-left:5vw;
        padding-right:5vw;
        
  
      
        
    }
  

}