.cover {
  max-width:1280px;
 height:740px;

  margin-top:5.75rem;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0;
  padding: 0 3rem;
  box-sizing: border-box;
}

@media  screen and (max-width:1279px)  {
  .cover{
    width:100%;
    padding:0 0;
    height:62.5vw;
  }
  
}

@media  screen and (max-width:1024px)  {
  .cover{
    margin-top:5.625rem;
    padding:0 0;
    width:100%;
    height:65.9vw;
  }
 
@media screen and (max-width:768px){
  .cover{
    margin-top:4.125rem;
    padding:0 0;
    width:100%;
    height:62.5vw;
  }
}




  
  
  