.place__link {
    grid-area: url;
    margin-left:0;
    margin-right:0;
    padding: 0 0;
    font-size:18px;
    line-height:22px;
    transition: opacity 1s ease;
    color:white;
    text-underline-offset: 3px; 

}


.place__link:hover{
  opacity: 0.8;
}
