.place__link-wrapper {
    grid-area:url;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap:12px;
    

    
}

@media  screen and (max-width:767px) {
    .place__link-wrapper{
        padding-left:5vw;
        padding-right:5vw;
    }
    
}
