.lead__caption{
  
    color:#fff;
    margin-top:8px;
    text-transform:uppercase;
    font-weight: normal;
    font-size:10px;
    line-height:14px;
    letter-spacing: 1.5px;
    padding:0 0;  
}   



@media screen  and (max-width:1023px){
    .lead__caption{
        padding-left:3.125vw;
    }
} 

@media screen and (max-width:767px) {
    .lead__caption{
        padding-left:5vw;
    }
    
}
    

