.cover__title {
    color: white;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 4.5rem;
    max-width: 560px;
    font-weight: 900px;
    line-height:1.0555;
}

@media screen and (max-width:767px) {
    .cover__title{
        max-width: 288px;
        font-size:2rem;
        line-height:1.1;
    }
    
}