.footer {
    
    max-width: 1184px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:5.75rem;
    padding-bottom:1.5rem;
}
@media screen and (max-width 1023px){
    .footer{
        margin-top:5.5rem;

    }
}

@media screen and (max-width:767px) {
    .footer{
        margin-top:4rem;
        flex-direction: column;
        row-gap:3rem;
        padding-left:1rem;
    }
    
}