.intro__title {
    display: flex;
    flex-wrap: wrap;
    max-width: 690px; ;
    margin-top:92px;
    margin-bottom: 0;
    font-size: 54px;
    align-self: flex-start;
    font-weight: 900;
    line-height: 58px;
    color: #fff;
}

@media screen and (max-width:1023px) {
    .intro__title {
        margin-top:88px;
    }

}

@media screen and (max-width:767px) {
    .intro__title {

        margin-top: 64px;
        margin-bottom: 0;
        font-size: 32px;
        line-height: 35px;

    }

}